<h1>Edit User Form</h1>
<%= form_with model: @user, method: :patch do |form| %>
    <%= @user.errors.full_messages.each do |message| %>
        <li> <%= message %> </id>
    <% end %>
    <%= form.label :username %>
    <%= form.text_field :username %>

    <%= form.label :email %>
    <%= form.text_field :email %>

    <%= form.label :password %>
    <%= form.password_field :password %>
    <%= form.submit "Update" %>
<% end %>
